{#<p>{{ dump(tweet) }}</p>#}

<ul class="tp--list">
  {% for element in tweet %}
    <li class="tp--item">
      <div class="tp--item__date">{{ element.created_at }}</div>
      <div class="tp--item__tweet">{{ element.text }}</div>
      <div  class="tp--item__more"><span>More information at:</span> {{ element.source }}</div>
    </li>
  {% endfor %}
</ul>
