{#<p>{{ dump(tweet.created_at) }}</p>#}

<ul class="tp--list">
  <li class="tp--item">
    <div class="tp--item__date">{{ element.created_at }}</div>
    <div class="tp--item__tweet">{{ element.text }}</div>
    <div class="tp--item__more"><span>More information at:</span> {{ tweet.source|raw }}</div>
  </li>
</ul>
  <button class="tp--button">View all</button>
