{#<p>{{ dump(tweet) }}</p>#}

<ul class="tp--list">
  {% for element in tweet %}
    <li class="tp--item">
      <div class="tp--item__date">{{ element.created_at }}</div>
      <div class="tp--item__tweet">{{ element.text }}</div>
      <div>
        More information at:
        <span class="tp--item__more">{{ element.source|raw }}</span>
      </div>
    </li>
  {% endfor %}
</ul>
  <button class="tp--button">View all</button>